<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
    <ion-button color="success" fill="outline" 
               (click)="openAndCloseModal()">
               Añadir Clientes</ion-button>
    </ion-buttons>           
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" >
    <ion-list *ngIf="bandera == false">

       <ion-card id="card" *ngFor="let team1 of ListTeam">
        
              <p>Id Cliente: {{team1.id}}</p>
             
               <p>Cédula: {{team1.cedula}}</p>
             
              <p>Nombre: {{team1.nombre}}</p>
             
              <p>Apellido: {{team1.apellido}}</p>
             
                <p>Email: {{team1.email}}</p>
              
                <p>Telefono: {{team1.telefono}}</p>
              
                <p>Dirección: {{team1.direccion}}</p>
             
              <ion-button color="warning" (click)="getTeam1(team1.id)">
                <ion-icon name="pencil"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="getId1(team1.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>

      </ion-card >
   </ion-list>
 


    <ion-card id="card-position" *ngIf="bandera">
      <ion-toolbar>
         <ion-button color="danger" slot="end" fill="outline"
        (click)="openAndCloseModal()">X</ion-button>
      </ion-toolbar>
       
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Cedula</ion-label>
          <ion-input [(ngModel)]="team1.cedula"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="team1.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="team1.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="team1.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input [(ngModel)]="team1.telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Direccion</ion-label>
          <ion-input [(ngModel)]="team1.direccion"></ion-input>
        </ion-item>
        <ion-button color="success" expand="full"
                   (click)="save()">
                   <span *ngIf="isUpdate">Actualizar</span>
                   <span *ngIf="isUpdate==false">Guardar</span>
                  </ion-button>
       </ion-card-content>
    </ion-card>

  </div>
</ion-content>

