#container strong {
    font-size: 20px;
    line-height: 26px;
    
  }
#card{
  background: rgb(176, 220, 221);
  color:#0c0c0c;
   
}
  
  
  #container  {
    margin-right: 10px;
    
  }
  
  .my-custom-class .modal-wrapper {
    background: #222;
  }